*.pyc
__pycache__/
.venv/
build/
dist/
dist_installer/
*.spec
send_wa_done.py
prepare_release.py
release_assets/
update_direct_shortcut.ps1
update_icon.ps1
update_silent_shortcut.ps1
create_shortcut.ps1
